*{
	margin: 0px;
	padding: 0px;
}
body{
	font-family: "Times New Roman", Times, serif;
	/*font-size: 100%;*/
}
table,tr,td{
	margin:0;
	padding:0;
}
.wrap{
	width:270px;
	height:75px;
	margin-left: 5px;
	margin-top: 5px;
	border:1px solid #212121;
}
.wrap2{
	padding-top:1px;
}
.div-left{
	width: 130px;
	float:left;
}
.div-right{
	width: 130px;
	float:left;
	padding-left:10px;
}
.img{
	max-width: 130px;
}
.title{
	font-weight: bold;
	font-size:9px;
	text-align: center;
}
.title-2{
	font-weight: normal;
	font-size:8px;
	text-align: center;
	font-style: italic;
}

.clearfix{
	clear:both;
}