#print{
	width:100%;
	margin:0 auto;
}
.wrap{
	width:270px;
	height:75px;
	margin:0 auto;
	margin-left: 5px;
	margin-top: 5px;
	/*border:1px solid #212121;*/
}
.wrap2{
	padding-top:1px;
}
.div-left{
	width: 130px;
	float:left;
}
.div-right{
	width: 130px;
	
	float:left;
	padding-left:10px;
	/*border-left:1px solid #212121;*/
}
.img{
	width: 48px;
}
.title{
	font-weight: bold;
	font-size:10px;
	text-align: center;
}
.title-2{
	font-weight: normal;
	font-size:8px;
	text-align: center;
	font-style: italic;
}

.clearfix{
	clear:both;
}